<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
    
      </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
	<form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)">
	
			<h4>Log In</h4>
			<ion-item>
				<ion-label floating>Email address</ion-label>
				<ion-input type="text" formControlName="email"></ion-input>
			</ion-item>
			<!-- <p class="error" *ngIf="formGroup.get('email').hasError('required') && formGroup.get('email').touched" ion-text color="danger" >Please Enter Your Email Address </p> -->
		
			<ion-item>
				<ion-label floating>Password</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
			<!-- <p class="error" *ngIf="formGroup.get('password').hasError('required') && formGroup.get('password').touched" ion-text color="danger" >Password id Required </p> -->
			
			
			
			
			
		


			<ion-item class="no-brdr-btm label-no-mb">
			<p (click)="forgotPassword()">Forgot your password?</p>
				<button ion-button color="secondary" block [disabled]="!formGroup.valid">Log In
					<ion-icon name="arrow-forward" style="color:#ffffff; margin-left: 1rem;"></ion-icon>
				</button>
			

				

				<p text-uppercase text-center class="or" style="padding-bottom:1rem;" >OR</p>
			</ion-item>
		</form>


		
			<ion-item class="no-brdr-btm fb-item" >
				<button ion-button class="fb-btn" color="facebook" outline block> <img class="fb" src="assets/imgs/fb.png" alt=""> Connect With &nbsp; <span class="bold-text">Facebook</span> </button>
			</ion-item>
			<ion-item class="g-item no-brdr-btm">
				<button ion-button class="gp-btn" color="google" outline block>
					<img class="g-plus" src="assets/imgs/g-plus.png" alt=""> Connect With &nbsp; <span class="bold-text">Google Plus</span>
				</button>
			</ion-item>
			<!--<button ion-button full (click)="signupPage()" style="background-color:rgb(57, 214, 96)">Sign Up</button>-->
		</ion-list>
	
</ion-content>
