
    .item-cover{ padding-left: 0; padding-right: 0;  text-overflow: normal; white-space: normal; word-wrap: break-all;}
    .item-radio .item-inner .input-wrapper .label{ text-overflow: normal; white-space: normal; word-wrap: break-all; margin-right: 0; font-weight: 500; font-size: 1.5rem; color: #1f1f1f; }
    // .item-radio-checked.item ion-label{ font-size: 1.5rem; color: #1f1f1f; font-weight: 500;}
    // .list .item-block .item-inner{ border-bottom: 0 !important;}
    .item .radio{ margin-right: 0; }
    .list .item-block.item-radio .item-inner{ border-bottom: 0 !important;}
    .gender-area{width: auto; margin-top: 2rem;}
    .gender-area h5{ color: #636363; font-weight: 500; margin-bottom: 0; text-transform: uppercase; font-size: 1.6rem; }
    
    .select-text{ min-width: auto;}
    .select-md{ min-width: 100%;}
    
    .list .item{ margin-bottom: 3rem; padding-left: 0; }
    
    .list > .item-block:last-child{ margin-top: 7rem; }
    
    .pt-0{padding-top: 0;}
    .pb-0{padding-bottom: 0;}
    
    .mt-0{margin-top: 0 !important;}

