<!--
  Generated template for the WishlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <h3>Wishlist</h3>
    </ion-title>

 
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="wishlist-area" *ngIf="wishlist">
    <ion-item *ngFor="let item of wishlist" >
      <ion-thumbnail item-start (click)="goToProductDetails(item.product.id)">
        <img src="{{image_link}}{{item.product.productsimages[0].name}}" alt="">
      </ion-thumbnail>
      <h2 (click)="goToProductDetails(item.product.id)">{{item.product.product_name}}</h2>
      <p (click)="goToProductDetails(item.product.id)">{{item.add_date}}</p>
      <div item-end>
        <ion-icon class="heart" name="heart" (click)="makeWishlist(item.prod_id,item.id)"></ion-icon>
        <p>$ {{item.product.price}}.00</p>       
      
      </div>
    </ion-item>
  
    
  </ion-list>

</ion-content>
