page-order-list {

    .header .toolbar:last-child .toolbar-background { border-bottom: 0; background: #ffffff;}
    .header::after{ background-image:none;}
    
    .bar-button-menutoggle ion-icon{ color: #5d5d5d; }
    .button-inner ion-icon{ color: #5d5d5d; }
    .toolbar ion-title{ padding: 0 0 1px 40px;}
    .toolbar-title{ padding: 0; text-align: left;}
    .toolbar-title h3{ color: #3e3e3e; font-weight: 600; text-transform: uppercase; font-size: 1.7rem; margin-bottom: 0; margin-top: 0;}
    .toolbar-title p{ margin-top: 0; margin-bottom: 0; font-size: 1.4rem; font-weight: 400;}
    
    .content{ background: #f5f5f5; }
    .item ion-thumbnail{ min-width:36px;}
    .item ion-thumbnail img{width: auto;}
    
    .list .item{ margin-bottom: 0;}
    .label { margin: 0 !important;}
    .item-inner{ align-items: flex-start;}
    .item .item-button{ padding: 0;}
    .item [item-end]{margin: 0;}
    .item-top{ width: auto; border-bottom: 1px solid #e1e1e1; padding-left: 5px;}
    .item-top h2{ display: flex;align-items: center; justify-content: space-between; font-weight: 500;}
    .close{ height: auto !important; padding: 0.3rem 0.6rem !important; background: #30be21; border-radius: 2px !important; box-shadow: none;}
    .close ion-icon{ color: #ffffff;}
    .item h4{ font-weight: 500;}
    .item p{ font-weight: 500;}
    .card{padding: 10px 10px 0 10px;}
    .f-w-5{font-weight: 500;}
    .detail-btn{padding: 10px !important; background: #30be21;}
    .card .item.item-block .item-inner{ display: flex; align-items: center; justify-content: center;}

    .pl-0{padding-left: 0;}
    .pr-0{padding-right: 0;}
    
}
