<!--
  Generated template for the SignupTwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only menuToggle>
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
    
      </ion-navbar>

</ion-header>


<ion-content padding>
  
    
  
  <form [formGroup]="formGroup" (ngSubmit)="signupThree(formGroup.value)">
    <ion-list>
      
        <h4>Sign Up/Sign In</h4>
      
      
      <h6>Mobile Number</h6>

      
      <ion-row>
      
        <ion-col col-12 class="pl-0 pr-0">
          <ion-item>
            <ion-input type="number" formControlName="phone" ></ion-input>
          </ion-item>
        </ion-col>

        <p class="error" *ngIf="formGroup.get('phone').hasError('required') && formGroup.get('phone').touched"  style="color:red;">
          Phone Number is required
        </p>

        <p class="error" *ngIf="formGroup.get('phone').hasError('minLength') && formGroup.get('phone').touched"  style="color:red;">
            Enter a valid phone number
            </p>



        <!-- <div class="error" *ngIf="!data" ion-text color="danger" >Please enter your mobile number </div> -->
        <!-- <ion-col col-2 class="pl-0">
          <ion-item>
            <ion-input type="text" placeholder="USA"></ion-input>
          </ion-item>
        </ion-col> -->
      </ion-row>
      <ion-item class="no-brdr-btm">
        <p>To enjoy eLiqServ, start by entering your mobile number</p>
      </ion-item>


      <ion-item class="no-brdr-btm">
        <button ion-button color="secondary" block  [disabled]="!formGroup.valid">Continue
          <ion-icon name="arrow-forward" style="color:#ffffff; margin-left: 1rem;"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
