<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>add-product</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>

    <ion-navbar>
      <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>
        <h3>Add Product</h3>
      </ion-title>
  
      <!-- <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only>
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  
  </ion-header>
  
  
  
  <ion-content>

    <ion-card>
        <ion-list>
            <form [formGroup]="formGroup">
            <ion-item>
              <ion-label floating >Category*</ion-label>
              <ion-select formControlName="cat_id">
                  <ion-option *ngFor="let item of categoryArray" value="{{item.id}}">{{item.name}}</ion-option>
            
                </ion-select>
            </ion-item>
            <p class="error" *ngIf="formGroup.get('cat_id').hasError('required') && formGroup.get('cat_id').touched"  style="color:red;">
              Please choose category.
            </p>
            <ion-item>
                <ion-label floating>Brand*</ion-label>
                <ion-select formControlName="brand_id">
                    <ion-option  *ngFor="let item of brandArray" value="{{item.id}}">{{item.brand_name}} </ion-option>
                    
                  </ion-select>
              </ion-item>
              <p class="error" *ngIf="formGroup.get('brand_id').hasError('required') && formGroup.get('brand_id').touched"  style="color:red;">
                Please choose Brand.
              </p>
              <ion-item>
                  <ion-label floating>Name*</ion-label>
                  <ion-input formControlName="product_name" ></ion-input>
              </ion-item>
              <p class="error" *ngIf="formGroup.get('product_name').hasError('required') && formGroup.get('product_name').touched"  style="color:red;">
                Name is required.
              </p>
              <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label floating>Price*</ion-label>
                        <ion-input formControlName="price"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="formGroup.get('price').hasError('required') && formGroup.get('price').touched"  style="color:red;">
                      Price is required.
                    </p>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label floating>QTY*</ion-label>
                        <ion-input type="number" formControlName="quantity"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="formGroup.get('quantity').hasError('required') && formGroup.get('quantity').touched"  style="color:red;">
                      Quantity is required.
                    </p>
                </ion-col>
              </ion-row>
              
              
                <ion-item>
                    <ion-label floating>Sale Price/Discount</ion-label>
                    <ion-input formControlName="discount"></ion-input>
                </ion-item>
            
                
              <ion-item>
                <ion-label floating >Availability*</ion-label>
                <ion-select formControlName="available">
                    <ion-option value="yes">Yes</ion-option>
                    <ion-option value="no">No</ion-option>
              
                  </ion-select>
              </ion-item>
              <p class="error" *ngIf="formGroup.get('available').hasError('required') && formGroup.get('available').touched"  style="color:red;">
                Please choose availability.
              </p>
              <ion-item>
                  <ion-label floating>Description*</ion-label>
                  <ion-textarea formControlName="description"></ion-textarea>
              </ion-item>
              <p class="error" *ngIf="formGroup.get('description').hasError('required') && formGroup.get('description').touched"  style="color:red;">
                Description is required.
              </p>

              
              <button ion-button block text-uppercase style="height: 40px !important; background: #efefef;"  color="light" (click)="presentActionSheet()">Upload Image</button>
                  <div *ngIf="pathForImage(lastImage)">
                    <ion-thumbnail>
                    <img src="{{pathForImage(lastImage)}}"/>
                   </ion-thumbnail>
                  </div>

              
                  
              
  
                <button ion-button block text-uppercase  color="secondary" (click)="addProduct(formGroup.value)" type="submit">Submit</button>
          
         </form>
          </ion-list>
    </ion-card>
      
  
  </ion-content>
  